<mat-card
  appearance="outlined"
  class="personalized-playlist-card"
  [matTooltip]="playlist.name"
  matTooltipPosition="above"
  matTooltipShowDelay="500"
  matTooltipHideDelay="250"
  (mouseover)="showPlayButton()"
  (mouseleave)="hidePlayButton()"
  (click)="openPlaylist()">
  <div
    class="playlist-image"
    matCardImage
    role="img"
    [attr.aria-label]="playlist.name"
    [style.background-image]="'url(&quot;' + imageUrl + '&quot;)'">
    <div class="playlist-name-banner">
      <mat-icon>auto_awesome</mat-icon>
      <span>{{ playlist.name }}</span>
    </div>
  </div>

  <button
    mat-fab
    class="play-button"
    [attr.aria-label]="'Play ' + playlist.name"
    (click)="handlePlayClick($event)"
    [ngStyle]="playingState && isPlayingThisPlaylist() ? pauseBtnStyle : playBtnStyle">
    <mat-icon>{{ playingState && isPlayingThisPlaylist() ? 'pause' : 'play_arrow' }}</mat-icon>
  </button>

  <mat-card-header class="personalized-card-header">
    <mat-card-title class="playlist-description hide-overflow">
      {{ playlist.description }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="playlist-metadata hide-overflow">
    {{ playlist.trackCount }} tracks &bull; {{ playlist.playlistDate | date }}
  </mat-card-content>
  <mat-card-content></mat-card-content>
</mat-card>
