<div class="music-controller">
  <audio [src]="masterAudioSource" id="player" (timeupdate)="setSliderValue($event)"
         [autoplay]="playingState && !stemModeActive" (ended)="handleTrackEnded()" (loadedmetadata)="restoreMasterAudioPosition()"
         (error)="handleMasterPlaybackError()"></audio>
    <mat-slider min="0" [max]="track?.length" discrete class="seekable-slider" [displayWith]="secondsPipe.transform">
      <input matSliderThumb (valueChange)="setCurrentPlaybackTime($event)" [(value)]="currentPlaybackTime" (dragEnd)="userSetSlider($event)">
    </mat-slider>
  <div class="track-duration-info">
    <div>
      {{ currentPlaybackTime | secondsToDurationString}}
    </div>
    <div>
      {{track?.length | secondsToDurationString}}
    </div>
  </div>
  <div class="control-bar">
    <button type="button" mat-icon-button (click)="setLoopState()" aria-label="Repeat"><mat-icon>
      @if (!isLooping)
      {
        repeat
      } @else {
        repeat_on
      }
    </mat-icon></button>
    <button type="button" mat-icon-button (click)="requestSkipPrevious()" aria-label="Previous track">
      <mat-icon>skip_previous</mat-icon>
    </button>
    <button type="button" class="play-button" (click)="changePlayerState()"
            [attr.aria-label]="playingState ? 'Pause' : 'Play'">
      <mat-icon>@if (playingState)
      {
        pause
      } @else {
        play_arrow
      }
      </mat-icon>
    </button>
    <button type="button" mat-icon-button (click)="requestSkipNext()" aria-label="Next track">
      <mat-icon>skip_next</mat-icon>
    </button>
    <button type="button" mat-icon-button (click)="setShuffleState()" aria-label="Shuffle"><mat-icon>
      @if(!isShuffled)
      {
        shuffle
      } @else {
        shuffle_on
      }
    </mat-icon></button>
  </div>
  <div class="volume-slider">
    <button type="button" mat-icon-button class="mute-button"
            [matTooltip]="masterVolume === 0 ? 'Unmute' : 'Mute'"
            (click)="toggleMute()" [attr.aria-label]="masterVolume === 0 ? 'Unmute' : 'Mute'">
      <mat-icon>{{ masterVolumeIcon }}</mat-icon>
    </button>
    <mat-slider min="0" max="100" discrete class="volume">
      <input matSliderThumb [value]="masterVolumePercent" (input)="setVolume(getVolumeSliderValue($event))">
    </mat-slider>
    <button type="button" class="stem-trigger" matTooltip="Stem mixer" (click)="requestStemMixer()"
            aria-label="Open stem mixer">
      <mat-icon>tune</mat-icon>
      <span>Stem mixer</span>
    </button>
  </div>
</div>
