.img-drag-drop {
  width: 100%;
  min-height: 14vh;
  height: auto;
  border: 1px solid #EEDEE7;
  border-radius: 30px;
  position: relative;
  color: #EEDEE7;
}

.dd-landing {
  position: relative;
  min-height: 14vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dd-landing p, .dd-landing h6 {
  text-align: center;
}

.dd-landing h6 {
  padding: 0;
  margin: 0 0 0.5rem;
}

.dd-landing p {
  margin: 0.2rem 0;
}

.file {
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  cursor: pointer;
}

mat-card-header img {
  width: 70px;
  height: 70px;
}

mat-card-subtitle {
  color: #A9A9A9;
}

mat-card {
  position: static;
  display: block;
  margin: 0 12px 12px;
  overflow-x: auto;
}

mat-card audio {
  display: block;
  width: 100%;
}
