<div class="artist-music-page">
  <div>
    <div class="list-heading">
      <h3>{{ title }}</h3>
      @if (showPlayAll && tracks.length > 0) {
        <button class="play-all-button" (click)="playAll.emit()">
          <mat-icon>play_arrow</mat-icon>
          Play all
        </button>
      }
    </div>
    <div class="album-cards">
      @for (track of tracks; track track.id; let i = $index) {
        @if (i < cardLimit) {
          <app-track-card [track]="track"
                          [artistMode]="artistMode"
                          [useCustomPlayHandler]="useCustomPlayHandler"
                          (playRequested)="trackSelected.emit(i)"
                          class="card"></app-track-card>
        }
      }
    </div>
  </div>
</div>
